<div>
    <br/>
    <form class="form-group row" #miForm="ngForm" (ngSubmit)="login(miForm)">
        <div class="form-group col-md-3">
            <input class="form-control" type="email" name="email" placeholder="Email" ngModel>
        </div>
        <div class="form-group col-md-3">
            <input class="form-control" type="password" name="password" placeholder="Password" ngModel>
        </div>
        <br/><br/>
        <div>
            <button class="btn btn-primary" type="submit">Entrar</button>
        </div>
    </form>
</div>
