<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-light">

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/proyectos">Proyectos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/info">Quienes somos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="contacto">Contacto</a>
    </li>
    <li class="nav-item" *ngIf="!userLogin()">
      <a class="nav-link" routerLink="/login">Login</a>
    </li>
    <li class="nav-item" *ngIf="userLogin()">
      <a class="nav-link" (click)="userLogout()">Logout</a>
    </li>
  </ul>

</nav>

<router-outlet></router-outlet>