<div class="container">
  <div class="row">
    <div class="col">
      <div >

        {{indice+1}}: {{empleadoLista.nombre}} {{empleadoLista.apellido}} {{empleadoLista.cargo}} {{empleadoLista.salario}}
        <a [routerLink]="['/actualiza',indice]" [queryParams]="{accion:'1'}">.

        Actualizar

        </a>

        <a [routerLink]="['/actualiza',indice]" [queryParams]="{accion:'2'}">.

          Eliminar
  
          </a>
      </div>

      <app-caracteristicas-empleado (caracteristicasEmpleados)="agregarCaracteristica($event)"></app-caracteristicas-empleado>

      <ul style="list-style: none;">
        <li *ngFor="let caracteristica of arrayCaracteristicas">{{caracteristica}}</li>
      </ul>

    </div>
  </div>
</div>
