<p>proyectos-component works!</p>

<form class="form-group row">

    <div class="form-group col-md-3">

      <label for="nombre">Nombre:</label>
      <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form control" [(ngModel)]="cuadroNombre">
    </div>

    <div class="form-group col-md-3">

      <label for="apellido">Apellidos:</label>
      <input type="text" name="apellido" id="apellido" placeholder="Apellido" class="form control" [(ngModel)]="cuadroApellido">
    </div>

    <div class="form-group col-md-3">

      <label for="cargo">Nickname:</label>
      <input type="text" name="cargo" id="cargo" placeholder="Nickname" class="form control" [(ngModel)]="cuadroCargo">
    </div>

    <div class="form-group col-md-3">

      <label for="salario">Tel. Emergencias:</label>
      <input type="text" name="salario" id="salario" placeholder="Salario" class="form control" [(ngModel)]="cuadroSalario">
    </div>

    <div class="col">

      <button type="submit" class="btn btn-primary" (click)="agregarEmpleado()" style="margin-top: 35px">Enviar</button>
    </div>
  </form>

<div style="text-align: center;">

    <button class="btn btn-primary" (click)="volverInicio()">Inicio</button>




</div>