<div class="container">

    <div class="col" style="text-align: center;"><h1>{{titulo}}</h1></div>

    <br><br>

    <form class="form-group row">

      <div class="form-group col-md-3">

        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form control" [(ngModel)]="cuadroNombre">
      </div>

      <div class="form-group col-md-3">

        <label for="apellido">Apellido:</label>
        <input type="text" name="apellido" id="apellido" placeholder="Apellido" class="form control" [(ngModel)]="cuadroApellido">
      </div>

      <div class="form-group col-md-3">

        <label for="cargo">Cargo:</label>
        <input type="text" name="cargo" id="cargo" placeholder="Cargo" class="form control" [(ngModel)]="cuadroCargo">
      </div>

      <div class="form-group col-md-3">

        <label for="salario">Salario:</label>
        <input type="text" name="salario" id="salario" placeholder="Salario" class="form control" [(ngModel)]="cuadroSalario">
      </div>

      <div class="col">

        <button type="submit" class="btn btn-primary" (click)="agregarEmpleado()" style="margin-top: 35px">Enviar</button>
      </div>
    </form>
</div>

<br><br><br>

<app-empleado-hijo *ngFor="let empleado of empleados; let i=index" [empleadoLista]="empleado" [indice]="i"></app-empleado-hijo>


